    <div id="info" class="row-fluid">
      <h4>Activity in world time zones</h4>
    </div>

    <div class="well">
    <div class="row">
      <div class="col-md-4">
        <h6>Source code developers</h6>
        <div class="TimeZone" data-data-source="scm"></div>
      </div>
      <div class="col-md-4">
        <h6>Tickets participants</h6>
        <div class="TimeZone" data-data-source="its"></div>
      </div>
      <div class="col-md-4">
        <h6>Discussion participants</h6>
        <div class="TimeZone" data-data-source="mls"></div>
      </div>
    </div>
